@font-face {
    font-family: 'Medium';
    src: url(fonts/Open_Sans/static/OpenSans-Medium.ttf);
}
@font-face {
    font-family: 'Open sans';
    src: url(fonts/Open_Sans/static/OpenSans-Regular.ttf);
}
* {
    margin: 0px;
    padding: 0px;
}
html {
    scroll-behavior: smooth;
    font-family: Open sans;
}
body{
    display: flex;
    background-color: #d9d9d9;
    justify-content: center;
}
.Page{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #d9d9d9;
    width: 50vw;
}
.Heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d9d9d9;
    width: 100%;
    height: 120px;
}
#Title{
    font-size: 40px;
    margin: 30px 0px 20px 80px;
    color: #092A42;
}
#QuickContacts{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 30px 50px 30px 0px;
    color: #660000;
}
#QuickContacts > a {
    color: #660000;
}
hr {
    margin: 0px;
    width: 100%;
    background-color: black;
    border: 0px;
    height: 3px;
}
.QuickSection{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
}
.Section {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin: 50px;
    background-color: grey;
    width: 60%;
    height: auto;
    border-radius: 10px;
}
.Section > div {
    margin: 20px;
}
#SectionTitle {
    margin: 10px 20px;
}
.Kontakty {
    display: flex;
    flex-direction: column;
    background-color: #660000;
    width: 100%;
    height: 200px;
}
.Kontakty > h1 {
    margin: 30px;
}
.Kontakty > div {
    width: 70%;
    margin: 10px 30px;
}
a.nav-link {
    color: black;
    text-decoration: none;
    padding: 16px;
    margin: 0px 15px;
}
a.nav-link:hover {
    background-color: rgb(200, 200, 200);
}
@media only screen and (max-width: 1700px) {
    .Page {
        width: 55vw;
    }
}
@media only screen and (max-width: 1600px) {
    .Page {
        width: 65vw;
    }
}
@media only screen and (max-width: 1400px) {
    .Page {
        width: 75vw;
    }
}
@media only screen and (max-width: 1200px) {
    .Page {
        width: 100vw;
    }
     .Section {
        margin: 5%;
        width: 80%;
    }
}
@media only screen and (max-width: 900px) {
    #Title {
        font-size: 4vw;
    }
    .QuickSection {
        display: none;
    }
    .Section {
        width: 90%;
    }
    .Heading {
        flex-direction: column;
        margin-bottom: 10px;
    }
    #Title {
        margin: 30px 30px 10px;
    }
    #QuickContacts {
        flex-direction: row;
        margin: 5px;
    }
    #QuickContacts > a {
        margin: 5px 20px;
    }
    #hr1 {
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    #Title {
        font-size: 7vw;
    }
    #QuickContacts {
        margin: 0px;
    }
    .Heading {
        margin: 0px;
        height: auto;
    }
}
@media only screen and (max-width: 400px) {
    #Title {
        font-size: 9vw;
        margin: 20px 0px;
    }

}